.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
}

.nav-center {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.nav-links {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 1rem;
}

.title-image {
    display: block;
    margin: 2rem auto 1rem auto;
    width: 25%;
}

.subheading {
    text-align: center;
    margin-bottom: 2rem;
}

.week-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.day {
    border: 1px solid #ccc;
    padding: 1rem;
    min-width: 150px;
}

.event {
    margin: 0.5rem 0;
    cursor: pointer;
}

.event-tooltip {
    position: fixed;
    background: white;
    border: 1px solid #ccc;
    padding: 0.5rem;
    white-space: nowrap;
    transform: translate(-50%, 0);
    z-index: 1000;
    pointer-events: none;
}

@media (prefers-color-scheme: dark) {
    .event-tooltip {
        background-color: antiquewhite;
        color: black;
        border-radius: 10px;
    }
}

